@import url(http://fonts.googleapis.com/css?family=Lato);
@charset 'UTF-8';
/* Base Styles */

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
  padding: 6px 15px;
}
#cssmenu {
  width: 200px;
}
#cssmenu > ul > li {
  cursor: pointer;
  background: #000;
  border-bottom: 1px solid #000000;
}
#cssmenu > ul > li:last-child {
  border-bottom: 1px solid #ffffff;
}
#cssmenu > ul > li > a {
  font-size: 16px;
  display: block;
  color: #000000;
  text-shadow: 0 1px 1px #000;
  background: #ffffff;
  /*background: -moz-linear-gradient(#ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 100%);
  background: linear-gradient(#ffffff 0%, #ffffff, 100%);*/
}
#cssmenu > ul  li > a:hover {
  background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
}
#cssmenu > ul > li.active{
  color: #000000;
  background: #ffffff;
  

}
#cssmenu > ul > li.active > a {
  background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
  color: #000000;
  text-shadow: 0 1px 1px #000;
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  /*border-bottom: 1px solid #000000;*/

}
#cssmenu > ul > li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-left: 5px solid #000000;
}
#cssmenu > ul > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
  border-top: 5px solid #000000;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 0;
  display: none;
}
#cssmenu ul ul a {
  background: #ffffff;
  display: block;
  color: #000000;
  font-size: 13px;
  border-left:1px solid #000000;
  border-right:1px solid #000000;


    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -ms-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;


}

#cssmenu ul ul li {
  border-bottom: 1px solid #000000;

}
#cssmenu ul ul li.odd a:hover {
  background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
  
}
#cssmenu ul ul li:last-child {
  border-bottom: 2px solid #ffef70;

  
}

/* ------------------------Code zum Markieren von vorher ausgewählten Punkten-------------------------------------  */

#cssmenu li.has-sub.test > a {
	background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
  
}

#cssmenu li.test > a {
	background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
   
}

#cssmenu ul li.has-sub.test ul {
	display: block;}
	
#cssmenu ul li.has-sub.test ul li.test1 a {
	background: #fede2a;
  background: -moz-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffef70), color-stop(100%, #f8ac01));
  background: -webkit-linear-gradient(#ffef70 0%, #f8ac01 100%);
  background: linear-gradient(#ffef70 0%, #f8ac01 100%);
}

#cssmenu > ul > li.has-sub.test{
  color: #000000;
  background: #ffffff;
  

}
	
/* -----------------------------------------------------Ende--------------------------------------------------------- */	